*
{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}
body{
  background-color:#ececec;
  font-family: 'Roboto Slab', serif;

}
.container
{
  max-width:100%;
  margin:auto;
  padding: 0px 10px;
}

#header
{
background-color:white;
padding: 20px 0px;
box-shadow:0px 0px 15px rgba(0,0,0,0.1);
}
 #header .logo
{
  padding:0px;
  font-size: 2em;
} 
#header ul{
  list-style-type: none;
}

#header a{
  display:block;
  padding:15px;
  color:blueviolet;
  text-decoration: none;
}
#header nav a:hover ,
#header nav a:focus{
  background-color: rgba(0,0,0,0.1);
}
#header nav{
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.categories
{
  display:flex;
  justify-content: space-between
}

#books-section,
#book-detail,#page-not-found
{
  margin:50px 0px;

}

.section-title{
  padding: 20px 0px;
}

.books-container
{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
#book-section .book-img img{
  width:100%;
  height:200px;
}
#books-section .book-info
{
  pading:10px;
}
#books-section .book-title
{
  padding-bottom: 10px ;
}

#books-section .book-author
{
  padding-bottom: 5px ;
}
.btn
{
  padding:15px;
  border:none;
  outline:none;
  cursor: pointer;
  margin: 10px 0px;
  opacity: 0.9;
  text-decoration:none;
  display:inline-block;

} 

.btn:hover, 
.btn:focus{
  opacity: 1;
}
.btn-highlight
{
  background-color: blueviolet;
  color:#fff;
}

#book-detail .books-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}


#book-detail .book-img img{
  max-width:100%;
 
}

#book-detail .book-title{
  padding-bottom: 15px;
}

#book-detail .book-author{
  padding-bottom: 10px;
}

#book-detail .book-review-container{
  display:flex;
  justify-content: flex-end;
} 

#book-detail .book-review-container .book-star
{
  color: rgb(145, 145, 10);

}
#book-detail .book-review-container .book-review
{
 margin-left:5px;
}

#footer{
  background-color: blueviolet;
  color:#fff;
  text-align:center;
  font-size: 1.1em;
  padding: 20px;
  margin-top:auto;
}

.has-fixed-footer
{
  min-height: 100vh;
  display:flex;
  flex-direction:column;
}